footer {
    background-color:black;
    color: white;
    padding: 20px 0 10px 0;
    text-align: center;
  }
  form {
    margin: 0 auto;
    max-width: 900px;
  }
  input, textarea, button {
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'Advent Pro', sans-serif;
    border-radius: 8px;
  }
  textarea {
    height: 120px;
  }
  button {
    font-size: 1.5em;
    background-color: #FFFAE1;
  }
  button:hover {
    background-color: #e55039;
    color: #FFFAE1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  #deuxiemeTrait {
    height: 1px;
    width: 75%;
    background-color: #FFFAE1;
    margin: 60px auto;
  }
  #copyrightEtIcons {
    padding: 0 200px;
    display: flex;
    justify-content: space-between;

  }
  #copyright {
    width: 50%;
    text-align: left;
    color:white;
  }
  #icons {
    display: flex;
  }
  #icons a:hover {
    transform: scale(1.5);
    transition: 0.1s;
  }
  h2 {
    color: white;
  }

  .fa {
    height: 34px;
    width: 34px;
    color: white;
    font-size: large;
  }
